body{
    background-color: #cccccc;
}
#descricao-galeria {
    position: absolute;
    top: 0px;
    right: 500px;
    left: 425px;
    font-size: 21px;
}
#m1{
    position: absolute;
    top: 250px; 
    left: 45px;    
    width: 425px;
    height: auto;
}
 
 #m2{
    position: absolute;
    top: 250px; 
    left: 545px;    
    width: 320px;
    height: auto;
}
#m3{
    position: absolute;
    top: 250px; 
    left: 1045px;    
    width: 380px;
    height: auto;
}
#m4{
    position: absolute;
    top: 440px; 
    left: 1450px;    
    width: 450px;
    height: auto;
 }
 #m5{
    position: absolute;
    top: 1000px; 
    left: 45px;    
    width: 400px;
    height: auto;
}
#m6{
    position: absolute;
    top:1090px; 
    left: 545px;    
    width: 450px;
    height: auto;
}
#m7{
    position: absolute;
    top: 1240px; 
    left: 1045px;    
    width: 450px;
    height: auto;
}
#m8{
    position: absolute;
    top:1025px; 
    left: 1545px;    
    width: 320px;
    height: auto;
}
#m9{
    position: absolute;
    top: 1985px; 
    left: 45px;    
    width: 450px;
    height: auto;
}
#m10{
    position: absolute;
    top: 2090px; 
    left: 545px;    
    width: 450px;
    height: auto;
}
#m11{
    position: absolute;
    top: 1750px; 
    left: 1045px;    
    width: 450px;
    height: auto;
}
#m12{
    position: absolute;
    top: 2050px; 
    left: 1545px;    
    width: 400px;
    height: auto;
}
#link1 {
    position: relative;
      font-size: 24px;
     left: 160px;
      text-decoration: none;
      color: red;
      font-weight: bold;
       } 
    #link2 {
    position: relative;
      font-size: 24px;
      left: 35px;
      text-decoration: none;
      color: red;
      font-weight: bold; 
      top: 50px;
       }
    #link3 {
     position: relative;
     font-size: 24px;
     text-decoration: none;
     color: red;
     font-weight: bold;
     left: 1225px;
     top: 50px;
       }
    #link4 {
     position: relative;
     font-size: 24px;
     left: 1100px;
     text-decoration: none;
     color: red;
     font-weight: bold;
       }
                                            
            
           
                                                    
                                                                                                                                                                                                                                                                                                                                                                