body {
  background-color: #FFF25E;
   }
#link1 {
position: relative;
  font-size: 24px;
 left: 160px;
  text-decoration: none;
  color: red;
  font-weight: bold;
   } 
#link2 {
position: relative;
  font-size: 24px;
  left: 420px;
  text-decoration: none;
  color: red;
  font-weight: bold; 
  
   }
#link3 {
 position: relative;
 font-size: 24px;
 text-decoration: none;
 color: red;
 font-weight: bold;
 left: 600px;
   }
#link4 {
 position: relative;
 font-size: 24px;
 left: 810px;
 text-decoration: none;
 color: red;
 font-weight: bold;
   }
#link1:hover {
 color: #000;
   }
   #link2:hover {
    color: #000;
   }
   #link3:hover {
    color: #000;
   }
   #link4:hover {
    color: #000;
   }
#h1 {
 text-align: center;
}
#h2 {
 text-align: center;
 opacity: 0.7;
}
#img1{
position: absolute;
top: 45px; 
left: 105px;    
width: 320px;
height: auto;
}

#img2{
display: block;
margin: 20px auto 0 auto;
width: 250px;
height: auto;
}
#img3 {
position: absolute;
top: 45px;    
right: 0;       
width: 400px;
height: auto;
transform: translateX(-125px);
}
#indicacao { 
position: absolute;
top: 500px; 
right: 110px;
font-size: 24px;
transform: translateX(-125px);
}

#frase {
position: absolute;
top: 530px;
right: 0px;
font-size: 24px;
transform: translateX(-90px);
}

#estrela {
position: absolute;
top: 560px;
right: 0px;
width: 400px;
height: auto;
transform: translateX(-125px);
}
.destaque {
font-weight: bold;
}
#topico1 {
position: absolute;
top: 630px;
right: 145px;
font-size: 24px;
transform: translateX(-125px);
}
#topico2 {
 position: absolute;
top: 660px; 
right: 150px;
font-size: 24px;
transform: translateX(-125px);
}
#topico3 {
 position: absolute;
top: 690px;
right: 127px;
font-size: 24px;
transform: translateX(-125px);
}#topico4 {
 position: absolute;
top: 720px; 
right: 140px;
font-size: 24px;
transform: translateX(-125px);
}
#quem-sou { 
position: absolute;
top: 600px; 
left: 135px;
font-size: 24px;
font-weight: bold;
}
#questao1 {
 position: absolute;
top: 650px; 
right: 140px;
font-size: 24px;
left: 80px;
}
#questao2 {
 position: absolute;
top: 700px; 
right: 140px;
font-size: 24px;
left: 40px;
}
#sobre {
position: relative;
position: absolute;
 font-size: 24px;
 left: 115px;
 text-decoration: none;
 color: #c0c0c0;
 font-weight: bold;
 top: 750px; 
}
#img-branco {
position: absolute;
bottom: -380px;
left: 70;
width: 101%;
height: 295px;
transform: translateX(-10px);
}
#que-mito {
position: absolute;
top: 93px;
right: 200px;
font-size: 24px;
transform: translateX(-500px);
}
#mito {
position: absolute;
top: 130px;
right: 275px;
left: 25px;
font-size: 21px;

}
.bloco-branco {
position: relative;
z-index: 1; 
}

#img-vermelho {
position: absolute;
bottom: -380px;
left: 1050px;
width: 38%;
height: 90px;
transform: translateX(-10px);
}
#perigo {
position: relative;
position: absolute;
right: 0px;
 font-size: 27px;
 left: 1100px;
 text-decoration: none;
 color: #FF0000;
 font-weight: bold;
 top: 320px; 
}