
    body {
        background-color: #50CB78;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 500px;
        min-height: 400px;
        padding: 18px;
        box-sizing: border-box;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 130%;
        margin-bottom: 5px;
        padding: 8px;
      }
      #mensagem{
        padding: 50px;
        width: 112%;
      }
      #text
    {
 padding: 8px;

    }
#email{
    padding: 8px;
}
#link1 {
  position: relative;
    font-size: 24px;
   left: -700px;
    text-decoration: none;
    color: red;
    font-weight: bold;
    top: 450px;
     } 
  #link2 {
  position: relative;
    font-size: 24px;
    left: -350px;
    text-decoration: none;
    color: red;
    font-weight: bold; 
    top: 450px;
     }
  #link3 {
   position: relative;
   font-size: 24px;
   text-decoration: none;
   color: red;
   font-weight: bold;
   left: 75px;
   top: 450px;
     }
  #link4 {
   position: relative;
   font-size: 24px;
   left: 300px;
   text-decoration: none;
   color: red;
   font-weight: bold;
   top: 450px;
     }