body{
 font-style: normal;
 background: #7CFC0D;
}

h1{
    margin-left: 50%;
    font-weight: none;
    color: #008000;
    right: 50%;
}

img{
    margin-left: 5%;
    width: 25%;
    border-radius: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px 100px;
  background: #008000;
}
nav ul li{
  margin: 10 0px;
}
nav ul li a {
  text-decoration: none;
  color: #00DB8C;
  padding: 10px 250px;
}
nav ul li a:hover{
  background-color: #1C4D2C;
}

p{
  flex-wrap: wrap;
    background: #00DB8C;
}

.img_alteradas{
  width: 25%;
}

h2 {
  list-style: none;
  display: flex;
  padding: 250px 700px;
  background: #008000;
}