#container{
    background-color: pink;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: normal;
}
.item{
    background-color: blueviolet;
    border: 1px solid #fff;
    color: #fff;
    width: 150px;
    height: 150px;
    font-size: 30px;

}
