* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f2f1;
    color: #2d2d2d;
    line-height: 1.6;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header .intro h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1C4D2C;
}

header .intro p {
    font-size: 1.2rem;
    color: white;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons .btn {
    background-color: #388e3c;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.navigation-buttons .btn:hover {
    background-color: #2c6b31;
}

main {
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section img {
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto 20px; /* Centraliza a imagem e adiciona margem inferior */
    max-width: 80%; /* Limita a largura da imagem para que não ultrapasse o tamanho da tela */
    height: auto;
    border-radius: 8px; /* Dá bordas arredondadas nas imagens */
}

section h2 {
    font-size: 2rem;
    color: #388e3c;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: justify;
}

section ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

section ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
}

