@keyframes pulsar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
        background-color: #083361;
    }
    100%{
   transform: scale(1);
    }
}
.botao1{
    padding:15px 30px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
}
.botaon {
    padding:15px 30px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
}
@keyframes girar{
    0%{
        transform: rotate(0deg) scale(1);
    }
    100%{
        transform: rotate(180deg) scale(1.5);
    }
}
.botao1{
    animation: pulsar 5s infinite ease-in-out;
}
.botaon:hover{
 transform: scale(1.2) rotate(180deg);
 transition: transform 5s ease;
}
.quadrado{
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    margin: 5px auto;
    animation: girar 2s infinite ease-in-out
}
.loader{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 150px;
}
.bolha{
    width: 20px;
    height: 20px;
    background-color: #e67e22;
    border-radius: 50%;
    animation: subirdescer 0.6s infinite ease-in-out alternate;
}
.bolha:nth-child(2){
    animation-delay: 0.2s;
}
.bolha:nth-child(3){
    animation-delay: 0.4s;
}
@keyframes subirdescer {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-30px)
    }
}