html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: aqua;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    align-content: space-evenly;
    height: 100vh;
}

.container div{
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 100px;
}