     /* Estilos Padrão (Desktop/Maior que 992px) */
     body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /* Cor padrão da tela: pink  */
        background-color: pink;
        color: black;
        text-align: center;
        transition: background-color 0.5s; /* Transição suave para a cor de fundo */
    }

    header {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* Estilos para o menu de navegação */
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav li {
        /* Padrão: itens dispostos em linha (menu horizontal)  */
        display: inline-block;
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    .conteudo {
        padding: 40px 20px;
    }
  @media screen and (max-width:992px) {
    body{
        background-color: rgb(166, 5, 134);
        color: rgb(15, 5, 5);
    }
    h1{
       font-size: 25px;
    }
}
@media screen and (max-width:600px) {
    body{
        background-color: aqua;
        color: black;
    }
}
@media screen and (max-width:768px){
nav li{
    display: block;
    margin: 10px 0;
}
}
