*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 200px;
    background-color: #adc3f0;
    min-height: 100vh;
    padding-top: 20px;
  }
 nav ul {
    list-style: none;
 }
 nav ul li{
    margin: 5px 0;;
 }

 nav ul li a{
   display: block;
   padding: 12px 16px;
   color: white;
   text-decoration: none;
   border-radius: 6px;
}
nav ul li a:hover{
background-color: rgba(255, 255, 255, 0.2);
}
