nav ul {
    list-style: none;
    display: flex;
    padding: 10px 0px;
    background: #2d6cdf;
  }
  nav ul li{
    margin: 0 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 12px;
 }
  nav ul li a:hover{
    background-color: #adc3f0;
  }